body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.filter-buttons {
    text-align: center;
    margin: 1em;
}

.filter-buttons button {
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    width: 200px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}
