/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f1f1f1;
}

.social-icon {
    display: block;
    margin: 10px auto;
    max-width: 40px;
    height: auto;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

/* Full-page background image */
body {
    background-image: url('images/justwaiting.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}
